@model VehicleMakeDto

<div class="card mt-3 col-md-6">
    <div class="card-body">
        <h4 class="card-title">Add Vehicle Make</h4>

        <form asp-action="AddVehicleMake" method="POST">
            <div class="form-group">
                <label asp-for="Name">Name:</label>
                <input asp-for="Name" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="Abrv">Abrv:</label>
                <input asp-for="Abrv" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
</div>