@model VehicleMakeDto

@{
    ViewData["Title"] = "Edit Vehicle Make";
    var errorMessage = TempData["ErrorMessage"] as string;
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <script>
        alert('@errorMessage');
    </script>
}

<div class="card mt-3">
    <div class="card-body col-md-6">
        <h4 class="card-title">Edit Vehicle Make</h4>

        <form asp-action="UpdateVehicleMake" method="post" asp-route-id="@Model.Id">
            <div class="form-group">
                <label asp-for="Name">Name:</label>
                <input asp-for="Name" class="form-control" value="@Model.Name">
            </div>
            <div class="form-group">
                <label asp-for="Abrv">Abrv:</label>
                <input asp-for="Abrv" class="form-control" value="@Model.Abrv">
            </div>
            <button type="submit" class="btn btn-primary">Apply</button>
        </form>
    </div>
</div>