@model VehicleModelDto

<form asp-action="AddVehicleModel" method="POST">
    <label asp-for="Name">Name:</label>
    <input asp-for="Name">
    <br />
    <label asp-for="Abrv">Abrv:</label>
    <input asp-for="Abrv">
    <br />
    <label asp-for="VehicleMakeId">VehicleMake:</label>
    <select asp-for="VehicleMakeId" asp-items="@(new SelectList(Model.vehicleMakes, "Id", "Name"))">
        <option value="">-- Select Vehicle Make --</option>
    </select>
    <br />
    <button type="submit">Add</button>
</form>