@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a asp-area="" asp-controller="Vehicle" asp-action="Model">Vehicle Model</a></p>
    <p><a asp-area="" asp-controller="Vehicle" asp-action="Make">Vehicle Make</a></p>
</div>
