@model VehicleMakeViewModel

@{
    ViewData["Title"] = "Vehicle Make";
}

<h1>Vehicle Make</h1>

<p>
    @await Html.PartialAsync("AddVehicleMake", new VehicleMakeDto())
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Abrv</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.VehicleMakes)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Abrv</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>